create table if not exists school_settings (id text primary key, school_name text, teacher_name text, contact_email text, bio text); insert into school_settings (id, school_name, teacher_name, contact_email, bio) values ('global', 'EngSchool Online', 'Admin User', 'contato@engschool.com', 'Professor de inglês...') on conflict (id) do nothing; alter table school_settings enable row level security; create policy \
allow
all
settings\ on school_settings for all using (true) with check (true);
